doctype.html 
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title floema 

        base(href="/")

        meta(name="desciption" content="Boilerplate")

        link(href="main.css" rel="stylesheet")
        
    body 
       include ./partials/prealoder
       include ./partials/navigation